@charset "utf-8";
/* CSS Document */

html, body, div, span,  object, h1, h2, h3, h4, h5, h6, p, blockquote,
a, em, font, img, small, strike, strong, b, u, i, dl, dt, dd, ol, ul, li,
form, label, table, tr, td {  
  margin: 0;  
  padding: 0;  
  border: 0;  
  outline: 0;  
  font-size: 100%;  
  vertical-align: baseline;  
  background: transparent;  
}  
body {  
  line-height: 1;  
}  
ol, ul {  
  list-style: none;  
}  
blockquote, q {  
  quotes: none;  
}  
.clear{
	clear:both;	
}
a{
color:inherit;
text-decoration: none;
}