@charset "utf-8";
/* CSS Document */

html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.f15{font-size: 15px;}
.light{font-family: 'ralewaylight' ;}

#map-canvas {
	height: 400px;
}

::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

*{
	padding:0;
}

/* ///////////// GENERAL //////////////*/

body {
	background: url(../image/fond-body.gif) repeat-x top left;
	font-size: 13px;
	font-family: 'ralewayregular' !important;
}


code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body{
	margin: 0 15px 0 15px;
}

p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container{
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

hr{
	border:none;
	background: #f4f4f4;
	height: 2px;
	margin: 20px 0;
}


/* ///////////// HEADER //////////////*/

header{
	height: 97px;
	width: 1024px;
	margin: 0 auto 20px auto;
}

header #logo{
	margin-top: 10px;
	float: left;
}

header nav{
	width: 600px;
	float: right;
	margin-top: 60px;
}

header ul{
	display: table;
	width: 100%;
	padding: 0;
}

header li{
	list-style-type: none;
	display: table-cell;
	text-align: center;
	font-size: 20px;
	color: #fff;
	height: 37px;
}

header li a{
	height: 20px;
	border-left: 1px solid #fff;
}

header li a:first-child{
	border-left: none;
}

header li:hover{
	background: url(../image/fond-li-hover.gif) no-repeat bottom center;
}


/* ///////////// CONTENT //////////////*/

#content{
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

#content #col-gauche{
	width: 702px;
	float: left;
}

/* ************************************************************************************ */
/*  DERNIERE EXPERIENCE HOME   */
#content #col-gauche section.derniere-experience{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #efefef;
}

#content #col-gauche section.derniere-experience h1, #content-central h1, #content #col-gauche h1.form, #content #col-gauche section.toutes-les-experiences h1, #content #col-gauche h1{
	height: 40px;
	background: #f3e7d2;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 20px;
}

#content #col-gauche section.derniere-experience h2, #content #col-gauche h2, #col-droite-admin h2{
	font-size: 16px;
	color: #7ed2ec;
	text-transform: uppercase;
	font-family: 'ralewayextrabold';
	font-weight: normal;
}

#content #col-gauche h4, #col-droite-admin h4{
	font-size: 14px;
	color: #E57E46;
	text-transform: none;
	font-family: 'ralewayextralight';
	font-weight: normal;
	margin: 2px 0
}

#content #col-gauche section.derniere-experience h3, #content #col-gauche h3, #col-droite-admin h3{
	font-size: 12px;
	color: #6a6a6a;
	font-family: 'ralewaylight';
	font-weight: normal;
}

#content #col-gauche p{
	font-size: 14px;
	text-align: justify;
	color: #c4c4c4;
	font-family: 'ralewaylight';
	margin-top: 5px;
}

#content #col-gauche section.derniere-experience a#en-savoir-plus{
	background: #efefef;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #6a6a6a;
	text-align: center;
	font-size: 16px;
	display: block;
	margin-top: 20px;
}

#content #col-gauche section.derniere-experience a#en-savoir-plus:hover{
	background: #e1e1e1;
}


/* ************************************************************************************ */
/*  10 DERNIERES EXPERIENCES HOME  */
#content #col-gauche section.dernieres-experiences{
	background: #7ed2ec;
	padding: 0 20px 20px 20px;
}

#content #col-gauche section.dernieres-experiences h1{
	height: 40px;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 20px;
	border-bottom: 1px solid #fff;
}

/* ************************************************************************************ */
/*  TOUTES LES EXPERIENCES  */

#content #col-gauche section.toutes-les-experiences ul li{
	border-bottom: 2px solid #f4f4f4;
	padding: 20px 0;
}

#content #col-gauche section.toutes-les-experiences ul li:last-child{
	border-bottom: none !important;
}

#content #col-gauche section a.lire-la-suite{
	color: #7ED2EC;
	text-align: right;
	margin: 20px 0;
	display: block;
}

#content #col-gauche section a.lire-la-suite:hover{
	text-decoration: underline;
}

#content #col-gauche section div.pagination, #col-droite-admin div.pagination a, #col-droite-admin div.pagination{
	text-align: center;
	color: #c4c4c4;
}



/* ************************************************************************************ */


/* ///////////// FORM //////////////*/
form{
	font-size: 14px;
	color: #ababab;
}

form .espace{
	width: 10px;
	display: inline-block;
}

form a.jeu{color: #7ed2ec; text-decoration: underline;}

form label{
	display: block;
	font-size: 16px;
	color: #ababab;
	font-family: 'ralewaylight';
	margin-bottom: 10px;
}

form span{
	color: red;
}

form input[type="text"], form input[type="password"]{
	width: 94%;
	height: 30px;
	border: 1px solid #d8d8d8;
	padding: 5px;
	color: #ababab;
	font-size: 16px;
}

form input[type="text"].input-gps{
	width: 45%;
	margin-right: 20px;
	margin-bottom: 20px;
}

form textarea{
	width: 94%;
	max-width: 94%;
	min-width: 94%;
	min-height: 130px;
	max-height: 130px;
	height: 130px;
	border: 1px solid #d8d8d8;
	padding: 5px;
	color: #ababab;
	font-size: 16px;
}

form input[type="submit"]{
	background: #f08951;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-size: 16px;
	display: block;
	margin-top: 20px;
	width: 96%;
	border:none;
	cursor: pointer;
}

form input[type="submit"]:hover{
	background: #e57e46;
}


/* ///////////// ASIDE //////////////*/
#content aside{
	width: 282px;
	float: right;
}

/* ************************************************************************************ */
/*  NOMBRE ECO ACTEUR  */
#content aside section.nombre-ecoacteur{
	background: url(../image/nombre-eco-acteur.gif) no-repeat;
	width: 280px;
	height: 124px;
	position: relative;
	border: 1px solid #efefef;
}

#content aside section.nombre-ecoacteur p{
	color: #fff;
	font-size: 50px;
	font-family: 'ralewaymedium';
	position: absolute;
	top: 20px;
	left: 108px;
	height: 50px;
	letter-spacing: 10px;
	width: 100px;
	text-align: right;
	text-shadow : 2px 2px 2px #999;
}

#content aside a#meilleur-eco-acteur{
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #7ED2EC;
	color: #fff;
	font-size: 16px;
	margin-bottom: 1px;
}

#content aside a#description-jeu-concours{
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #629CAC;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 1px;
}

/* ************************************************************************************ */
/*  APPLICATION MOBILE  */
#content aside section.appli-mobile{
	width: 100%;
}

#content aside section.appli-mobile a#appli-mobile{
	background: #f08951;
	color: #fff;
	display: block;
	height: 50px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'ralewayextrabold';
	padding-top: 10px;
}

#content aside section.appli-mobile a#appli-mobile:hover{
	background: #e57e46;
}

/* ************************************************************************************ */
/*  DERNIERE ACTUALITE  */
#content aside section.derniere-actualite{
	width: 100%;
	position: relative;
	margin: 20px 0;
}

#content aside section.derniere-actualite img{
	width: 100%;
}

#content aside section.derniere-actualite h1{
	height: 40px;
	background: #f3e7d2;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
}

#content aside section.derniere-actualite footer{
	position: absolute;
	height: 40px;
	line-height: 40px;
	padding: 0 5%;
	font-size: 16px;
	color: #7a7a7a;
	font-family: 'ralewaylight';
	width: 90%;
	background: #fff;
	opacity: 0.9;
	bottom: 0;
	left: 0;
}

/* hack Chrome / Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#content aside section.derniere-actualite footer {
		width: 91%;
	}
}

#content aside section.derniere-actualite h3{
	position: absolute;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	font-size: 12px;
	color: #fff;
	background: #7dd1eb;
	width: 100px;
	bottom: 40px;
	right: 0;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}

/* ************************************************************************************ */
/*  BOUTON FACEBOOK  */
#content aside section.facebook{
	margin-top: 20px;
}


.bloc{
	width: 800px;
	margin: 0 10px 0 0;
	background-color: #bdc3c7;
	padding: 5px;
}

.bloc h3{
	text-align: center;
}

.bloc h4{
	width: 125px;
	float: left;
	margin: 0;
}

.bloc p{
	width: 100px;
	text-align: right;
	float: right;
	margin: 0;
}


/* ///////////// FOOTER //////////////*/

footer{
	width: 1004px;
	margin: 0 auto;
	height: 90px;
	background: #efefef;
	color: #999999;
	padding: 0 10px;
	margin-top: 20px;
}

footer a, footer a:hover, footer a:focus{
	color: #999999 !important;
}

footer ul{
	float: left;
	width: 450px;
}

footer li{
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #999;
	height: 15px;
	margin-top: 40px;
}

footer li:last-child{
	border-right: none;
}

footer #logos-partenaires{
	float: right;
	width: 205px;
	margin-top: 20px;
}

footer #logos-partenaires img{
	margin-right: 10px;
}




/* ///////////// BACKOFFICE //////////////*/
/* ************************************************************************************ */
/*  PAGE DE LOGIN  */
#content-central{
	width: 40%;
	margin: 0 auto;
}

#content-central form .error{
	color: red;
}

div #retour-site{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

#copyright{
	background:#fff;
	width: 90%;
	margin: 20px 5% 0 5%;
	padding: 20px 0 10px 0;
	border-top: 1px solid #F4F4F4;
	color: #999;
	text-align: center;
	font-size: 12px;
}

#copyright a{
	color: #999 !important;
}

#copyright a:hover{
	text-decoration: underline !important;
}

/* ************************************************************************************ */
/*  PAGE HOME  */
#user{
	position: absolute;
	color: #fff;
	top: -50px;
	right: 0;
}

#user a, #user a:hover, #user a:focus{
	color: #fff !important;
}

#content aside#admin{
	width: 25%;
	float: left;
	background: #f8f8f8;
	padding: 20px;
}

#content aside#admin ul li,
#content #col-droite-admin ul li{
	border-bottom: 1px dotted #e4e4e4;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#content aside#admin ul li{
	line-height: 27px;
	padding-left: 35px;
	height: 27px;
}

#content aside#admin ul li#home{
	background: url(../image/admin-picto-home.png) no-repeat top left;
}

#content aside#admin ul li#ecoacteur{
	background: url(../image/admin-picto-ecoacteur.png) no-repeat top left;
}

#content aside#admin ul li#message{
	background: url(../image/admin-picto-message.png) no-repeat top left;
}

#content aside#admin ul li#commentaires{
	background: url(../image/admin-picto-commentaires.png) no-repeat top left;
}

#content aside#admin ul li#actualites{
	background: url(../image/admin-picto-actualites.png) no-repeat top left;
}

#content aside#admin ul li#site{
	background: url(../image/admin-picto-site.png) no-repeat top left;
}

#content aside#admin ul li#meilleur-ecoacteur{
	background: url(../image/admin-picto-meilleur-ecoacteur.png) no-repeat top left;
}


#content aside#admin ul li#meilleur-ecoacteur a,
#content aside#admin ul li#meilleur-ecoacteur a:hover,
#content aside#admin ul li#meilleur-ecoacteur a:focus{
	color: #fff;
}

#content aside#admin ul li a, #content aside#admin ul li a:hover, #content aside#admin ul li a:focus,
#content #col-droite-admin ul li a, #content #col-droite-admin ul li a:hover, #content #col-droite-admin ul li a:focus{
	text-decoration: none !important;
}

#content aside#admin ul li div.badge,
#content #col-droite-admin ul li div.badge{
	float: right;
	line-height: 11px;
	height: 14px;
	background-color: #F08951;
}

#content aside#admin ul li div.badge-attente,
#content #col-droite-admin ul li div.badge-attente{
	background: #C4C4C4;
}

#content aside#admin ul li#meilleur-ecoacteur,
#content #col-droite-admin ul li#meilleur-ecoacteur{
	background-color: #7ED2EC;
	padding: 10px;
	display: block;
	color: #fff;
	text-align: center;
}
#content aside#admin ul li#meilleur-ecoacteur.aside{
	background-image: url(../image/admin-picto-meilleur-ecoacteur.png);
	background-position: 23px 9px;
	background-repeat: no-repeat;
}


#content #col-droite-admin{
	float: right;
	width: 65%;
}

#col-droite-admin h1{
	height: 40px;
	background: #F8F8F8;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	color: #999999;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 20px;
}

#col-droite-admin h2, #col-droite-admin h3, #col-droite-admin h4, #col-droite-admin a{
	margin: 0;
	padding: 0;
	line-height: 18px;
}

#col-droite-admin a.maj{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding: 0 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#col-droite-admin a.suppr{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding: 0 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#col-droite-admin a.creer{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding: 0 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 97%;
}

#col-droite-admin .btn{
	width: 30%;
	border:none;
	border-radius: 0px;
	text-shadow: none;
}

#col-droite-admin button.l100, #col-droite-admin a.l100{
	width: 97%;
}

#col-droite-admin input[type="radio"], #col-droite-admin input[type="checkbox"]{
	margin-right: 5px;
	margin-top: -2px;
}

